body {
  margin: 0px;
  padding: 0px;
  font-family: "Oswald", sans-serif;
}
h1 {
  font-size: 55px;
}
h2 {
  font-size: 35px;
  font-weight: 550;
}
.high_textandimage {
  width: 40%;
  margin-left: 5%;
  padding-left: 2%;
  float: left;
}
.high_textandimage img {
  width: 100%;
}
.header {
  background-image: url(top-banner.png);
  background-repeat: no-repeat;
  padding-top: 20px;
}
.highlight_Rezwan {
  color: red;
}
section {
  height: 520px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.Hire_me_button {
  text-decoration: none;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  border-radius: 5px;
  padding: 10px 40px;
  color: white;
  font-weight: 600;
}
.Dream {
  font-size: 55px;
  font-weight: bold;
}
h3 {
  font-size: 35px;
  font-weight: 550;
}
.highlight_dream {
  color: blue;
}
