body {
  padding: 0px;
  margin: 0px;
  font-family: "Oswald", sans-serif;
}
h1 {
  font-size: 55px;
}
h3 {
  font-size: 30px;
  color: black;
}
h2 {
  font-size: 50px;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: orange;
  font-size: 20px;
  font-weight: 550;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.highlight_Rezwan {
  color: red;
}
.text_and_image {
  width: 40%;
  padding-left: 1%;
  margin-left: 5%;
  float: left;
}
.text_and_image img {
  width: 100%;
}
.header {
  padding-top: 30px;
  background-image: url(top-banner.png);
  background-repeat: no-repeat;
}
section {
  height: 520px;
}
.hire_me_button {
  text-decoration: none;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  border-radius: 10px;
  padding: 10px 40px;
  color: white;
  font-weight: 520;
}
.dream_word {
  color: orange;
}
.become_developer {
  color: red;
}
.dream_big {
  background-image: url(dream-bg.png);
  background-position: right;
  background-repeat: no-repeat;
}
.Download_button {
  background-image: linear-gradient(180deg, lightsalmon, tomato);
  border-radius: 10px;
  padding: 10px 60px;
  text-decoration: none;
  font-weight: 520;
  color: white;
}
.experience_are h2 {
  font-size: 35px;
  color: white;
  background-color: red;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.single-experience {
  box-shadow: 10px 10px 80px gray;
  border-radius: 10px;
  background-color: white;
  padding-left: 15px;
  margin-left: 83px;
  margin-top: 20px;
  height: 300px;
}
#full-stack {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}
#baby_developer {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightsalmon, tomato);
  border-image-slice: 1;
}
.experience_are {
  background-image: url(exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
}
